@{
    ViewData["Title"] = "Home Page";
}
@model List<Order>

<h3 class='headUser'>Welcome, @Context.Session.GetString("name")</h3>
<h1>Cart</h1>
@foreach (Order o in Model){
    <div class="order">
        <div class="row">
            <h4><a href="/order/@o.OrderId/view">@o.CookieName</a></h4>
            <p>@o.Description</p>
            <p>@o.Quantity</p>
            <img src="@o.ImgUrl">
        </div>
    </div>
}